<h4><%= @patient.full_name %></h4>
<p>Age: <%= @patient.age %></p>
<p>Gender: <%= @patient.gender %></p>
<p>Race: <%= @patient.race %></p>
<p>Member Since: <%= @patient.created_at.strftime("%D") %></p>
<%= link_to "Create New Measure", new_provider_patient_measure_path(patient: @patient.id), class: "btn btn-danger" %>
<%= link_to "Create New Course", new_provider_patient_course_path(@patient), class: "btn btn-danger" %>
<hr>
<h5>Courses:</h5>
<%= render partial: "provider/patients/course", collection: @courses %>
<hr>
<h5>Measures:</h5>
<%= render partial: "provider/patients/measure", collection: @measures %>
