<tr>
  <td><%= observation.type %></td>
  <td><%= observation.frequency %></td>
  <td><%= observation.start_date %></td>
  <td><%= observation.end_date %></td>
  <td><%= observation.to_intervals %></td>
  <td>Placeholder</td>
  <td><i class="fa fa-bar-chart"></i></td>
  <td><i class="fa fa-pencil"></i></td>
</tr>