<tr>
  <td><%= observation.type %></td>
  <td><%= observation.frequency %></td>
  <td><%= observation.start_date %></td>
  <td><%= observation.end_date %></td>
  <td><%= observation.to_intervals %></td>
  <td><%= observation.measure_count %></td>
  <td><%= link_to(new_provider_patient_measure_path(patient: patient_id, observation: observation.id)) do %> <i class="fa fa-bar-chart"></i> <% end %> </td>
  <td><i class="fa fa-pencil"></i></td>
</tr>