<h4>Course Detail: <%= @course.description %> </h4>
<p><%= "#{@patient.full_name}, #{@patient.age} year old #{@patient.race} #{@patient.gender}" %></p>
<p><%= "From #{@course.start_date} to #{@course.end_date}" %></p>
<hr>
<h4>Observations</h4>

<ul>
  <%= render partial: "provider/courses/observation", collection: @observations %>  
</ul>


<%= simple_form_for @observation, url: provider_course_observations_path(@course), html: { method: :post, class: "form-inline" } do |f| %>
  <%= f.input :patient_measure_type_id, collection: @types, label_method: :measure_type, value_method: :id, label: "Measure Type: ", include_blank: false %>
  <%= f.input :frequency, label: "Frequency: " %>
  <%= f.button :submit, "Add an Observation Type", class: 'btn btn-danger' %>
<% end %>



