<div class="card">
    <div class="card-header card-inverse bg-danger">
        <h5>Measures</h5>
    </div>
    <div class="card-block">
        <%= simple_form_for :form, url: patient_measures_path, html: { method: :get, class: "form-inline" } do |f| %>
          <%= f.input :type, label: "Measure Type:  ", collection: @measure_types, selected: @type %>
          <%# f.input :age, as: :boolean, label: "Show Age Peer Average" %>
          <%= f.button :submit, "Get Measures", class: "btn btn-danger" %>
        <% end %>
        
        <hr>
        
        <% if @data %>
          <%= line_chart @data, library: { title: @type } %>
        <% else %>
          <p>Select from the measure types above to see how the value of that measure has changed over time.</p>
        <% end %>
        
        <%= link_to "Reset", patient_measures_path, class: "btn btn-danger" %>
          
    </div>
</div>